* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 90%;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 12px;
}

input,
textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline-color: #007bff;
    resize: vertical;
}

input {
    margin-bottom: 16px;
}

.wrap__button {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 8px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color linear 0.3s;
}

button.decrypt-btn {
    background-color: #dc3545;
}

button:hover {
    background-color: #0056b3;
}

button.decrypt-btn:hover {
    background-color: #b02a37;
}
